@import "tailwindcss";

:root {
  --background: #e9ecf4;
  --foreground: #171717;

  --icon-bg: #dde3ee;
  --primary-color: #071429;
  --secondary-color: #07142980;
  --icon-hover: #cbd4e1;
  --active-icon-color: #0e64ee;

  --font-sans: var(--font-open), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-serif, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Open Sans, sans-serif;
}

aside {
  background: var(--background);
}

header {
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.font-sans {
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}
